<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page - My Blog</title>
  <meta charset="UTF-8" />
  <title>Recipes - Crave Cove</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="crave-bg">
  <!-- Navbar -->
  <nav class="nav-bar">
    <div class="nav-logo">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Crave Cove Logo" class="logo-img">
      <span class="brand-title">Crave Cove</span>
    </div>
    
    {% if current_user.is_authenticated %}
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/recipes">Recipes</a>
        <a href="/favorites">Favorites</a>
        <a href="/profile">Profile</a>
        <a href="{{ url_for('chat') }}">Chat</a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
      </div>
    </nav>

    {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('registration') }}">Create new account</a>
    {% endif %}
</body>
<h1>Hello, {{ current_user.username if current_user.is_authenticated else "Guest" }}!</h1>
</html>