<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Posts</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
    <h1>Create a Post</h1>
    <form action="" method="POST" novalidate>
        {{form.hidden_tag()}}
        <p> {{form.username.label}}</br>
        {{form.username()}}</p>

        <p>{{form.body.label}}</br>
        <p>{{form.body()}}</p>

        <p>{{form.submit()}}</p>
    </form>
</body>
<body>
    <h2>My User Posts</h2>
    <table>
        <tr>
            <th>#</th>
            <th>User Posts</th>
        </tr>
        <!-- Dynamic rows will be inserted here -->
        {% for post in posts %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ post.body }}</td>
        </tr>
        {% endfor %}
    
    </table>
    <a href="{{ url_for('login') }}">Logout</a>
</body>
</html>

